<div [ngClass]="['cabecalhoComAcoes', classeCss]">
    <img *ngIf="srcImagemEsquerda" (click)="aoClicarAcaoEsquerda.emit()" [src]="srcImagemEsquerda" alt="Icone Esquerda"
        class="iconeEsquerda" />

    <span *ngIf="textoAcaoEsquerda" (click)="aoClicarAcaoEsquerda.emit()" class="textoAcaoEsquerda">{{ textoAcaoEsquerda
        }}</span>

    <h3>{{titulo}}</h3>

    <button type="button" class="btnAcaoDireita" (click)="aoClicarAcaoDireita.emit()"
        [disabled]="desabilitarAcaoDireita">{{textoAcaoDireita}}</button>
</div>