<div class="cabecalhoPerfil conteudoDesktop">
    <div class="acoesCabecalhoPerfil">
        <img src="assets/imagens/setaEsquerda.svg" class="mobile" alt="Seta Esquerda" (click)="voltarParaHome()"
            *ngIf="!estaPerfilPessoal" />

        <h3>{{ usuario?.nome}}</h3>

        <img src="assets/imagens/logout.svg" alt="Icone Logout" (click)="logout()" *ngIf="estaPerfilPessoal" />
    </div>
    <hr class="linhaHorizontal" />

    <div class="estatisticas">
        <app-avatar classeCss="avatarPerfil bordaGradientAvatar" [src]="usuario?.avatar"></app-avatar>

        <div class="conteudoEstatisticas">
            <div class="numeros">
                <div class="numero">
                    <strong>{{usuario?.publicacoes}} </strong>
                    <span>Publicações</span>
                </div>
                <div class="numero">
                    <strong>{{usuario?.seguidores?.length}} </strong>
                    <span>Seguidores</span>
                </div>
                <div class="numero">
                    <strong>{{usuario?.seguindo?.length}}</strong>
                    <span>Seguindo</span>
                </div>
            </div>
            <app-botao classeCss="btnCabecalhoPerfil" (click)="manipularCliqueBotaoPrincipal()"
                [cor]="obterCorBotaoPrincipal()" [texto]="obterTextoBotaoPrincipal()"></app-botao>
        </div>
    </div>
</div>