<br><br><br>
<app-avatar></app-avatar>
<app-botao
    texto="Login"
    [desabilitar]="true"
></app-botao>
<app-botao
    texto="Cadastro"
></app-botao>
<app-botao
    texto="Outline"
    cor="outline"
></app-botao>

<br><br><br>

<app-upload-imagem
    imagemPrevisulizacao="assets/imagens/avatar.svg"
    (aoAtualizarImage)="aoTrocarImagem()"
></app-upload-imagem>

<br><br><br>

<app-input-publico
    tipo="text"
    imagem="assets/imagens/envelope.svg"
    placeholder="E-mail"
    [referenciaFormulario]="obterReferencia('nome')"
>
</app-input-publico>

<app-input-publico
    tipo="password"
    imagem="assets/imagens/chave.svg"
    placeholder="Senha"
    [referenciaFormulario]="obterReferencia('senha')"
>
</app-input-publico>