.rodapePaginaPublica {
    text-align: center;
    margin-top: 24px;

    p {
        color: var(--cinza3);
        margin: 0px 0px 2px;
    }

    a {
        color: var(--corPrimaria);
        font-family: var(--fontBold);
    }
}