<div class="containerInputPublico">
    <div class="inputPublico">
        <img
            class="iconeInput"
            alt="imagem do input"
            [src]="imagem"
            width="20"
            height="20"
        />

        <input
            [type]="tipo"
            [placeholder]="placeholder"
            [ngModel]="referenciaFormulario?.value"
            (ngModelChange)="aoModificarCampo($event)"
        />
    </div>

    <p *ngIf="referenciaFormulario?.invalid && referenciaFormulario?.dirty"
        class="mensagemErro">
        {{ obterMensagemErro() }}
    </p>
</div>