/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.scss';
@import './assets/estilos/variaveis.scss';

:root {
    --fontRegular: 'Biennale Regular';
    --fontBold: 'Biennale Bold';
    --fontLight: 'Biennale Light';

    --corPrimaria: #5E49FF;
    --corPrimaria2: #25CBD3;
    --corPrimaria3: #F0F5FF;

    --cinza: #F4F4F4;
    --cinza1: #DADADA;
    --cinza2: #7C7786;
    --cinza3: #4D4C4D;
    --cinza4: #333333;
    --branco: #FFF;
    --vermelho: #FF0000;

    --breakpointDesktop: 992px;
}

* {
    font-family: var(--fontRegular);
    font-size: 14px;
}

html,
body {
    height: 100%;
    margin: 0;
}

.oculto {
    display: none !important;
}

input {
    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
        color: var(--cinza2);
    }
}

.mensagemErro {
    color: var(--vermelho);
    margin: 5px 0 0;
    font-size: 90%;
}

.desktop {
    display: none;

    @media screen and (min-width: $breakpointDesktop) {
        display: block;
    }
}

.mobile {
    display: block;

    @media screen and (min-width: $breakpointDesktop) {
        display: none !important;
    }
}

body {
    @media screen and (min-width: $breakpointDesktop) {
        background-color: var(--cinza);
        background-image: url('assets/imagens/fundoDesktop.svg');
        background-size: cover;
    }
}

.layoutInterno {
    display: flex;
    flex-direction: column;
    height: 100%;

    .conteudoInterno {
        flex: 1;
    }
}

strong {
    font-size: 12px;
    color: var(--cinza4);
}

.conteudoDesktop {
    @media screen and (min-width: $breakpointDesktop) {
        width: 30%;
        margin: auto;
    }
}

.linhaHorizontal {
    height: 0.5px;
    border: none;
    background-color: var(--cinza1);
    margin: 0 auto;

    @media screen and (min-width: $breakpointDesktop) {
        width: 90%;
    }
}

.bordaGradientAvatar {
    border: solid 3px transparent;
    background-image: linear-gradient(to bottom, white, white),
        radial-gradient(circle at top center, var(--corPrimaria), var(--corPrimaria2));
    background-origin: border-box;
    background-clip: content-box, border-box;
}